.cardTagline {
    font-size: 1.2rem;
    color: #7f8c8d;
    max-width: 600px;
    margin: 0 auto;
}

.cardServices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 0 20px;
    margin-top: 5%;
}

.cards {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.cards:hover {
    transform:scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.cardsIcon {
    font-size: 55px;
    margin-bottom: 20px;
}

.cards h2 {
    color: #00c78a;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.cards p {
    color: #7f8c8d;
    font-size: 1rem;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    
    .tagline {
        font-size: 1rem;
    }
    
    .features-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .feature-card {
        padding: 20px;
    }

    .tableLogs {
        padding: 20px;
    }
}