* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #0d253f;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 25px 15px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logout {
  display: flex;
  align-items: center;
}

.navbar-logout h2 {
    font-size: 10px;
}
.navbar-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.navbar-brand h2 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 15px; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item {
  color: #cdd9e5;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  position: relative;
}


.nav-item::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #00ffb3;
  transition: width 0.3s ease;
}

.nav-item:hover {
  color: #fff;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item.active,
.nav-item.active:hover {
  color: #00ffb3;
  font-weight: 600;
}

.nav-item.active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .nav-links {
    position: static;
    transform: none;
    flex-direction: column;
    gap: 18px;
    margin-top: 12px;
    align-items: center;
  }

  .nav-item {
    padding: 10px 0;
    text-align: center;
  }
}


a {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

a:hover {
color: rgb(22, 181, 255);
}